.container {
  width: 100%;
  padding: 0px 15px;
}

.hero-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

body {
  font-family: var(--main-font);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

header a {
  color: #000000;
}

header {
  padding: 16px 0px;
  border-bottom: 1px solid #ececec;
}

.navigation-list {
  display: none;
}

.address-header {
  display: none;
}

.chosen-navigation-list-link {
  color: #2196f3;
}

.burger-button,
.close-mobile-menu-button {
  width: 40px;
  height: 40px;
  background-color: transparent;
  padding: 0px;
  border: none;
}

.burger-button svg,
.close-mobile-menu-button svg {
  width: 24px;
  height: 16px;
}

.burger-button:focus svg,
.close-mobile-menu-button:focus svg {
  fill: #2196f3;
}

.close-mobile-menu-button {
  position: absolute;
  top: 10px;
  right: 15px;
}

.header-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.address-list-item:not(:last-child) {
  margin: 0px 0px 10px;
}

.mobile-menu-nav-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
}

.mobile-menu-nav-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-nav {
  margin-bottom: 302px;
}

.mobile-menu {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  max-width: 480px;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  padding: 48px 40px;
  overflow: scroll;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  transition: transform 300ms;
}

.mobile-menu.is-open {
  transform: translateX(-50%) translateY(0%);
}

.mobile-menu-address-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.176;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mobile-menu-address-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-menu-address-item {
  margin-bottom: 32px;
}

.mobile-menu-address {
  margin-bottom: 64px;
}

.mobile-menu-social {
  display: flex;
  flex-wrap: wrap;
}

.mobile-menu-social-item:not(:last-child) {
  margin-right: 20px;
}

.mobile-menu-social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.222;
  letter-spacing: 0.02em;
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
  .header {
    padding: 26px 0px;
  }
  .burger-button {
    display: none;
  }
  .navigation-list {
    display: flex;
    margin-left: 80px;
  }
  .address-header {
    display: inherit;
    margin-left: auto;
  }
  .address-mail > svg {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: #757575;
  }
  .address-tel > svg {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: #757575;
  }
  .address-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .address-mail {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    font-style: normal;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: #757575;
    align-items: center;
  }
  .address-tel {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    font-style: normal;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: #757575;
    justify-content: center;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
  }
  .navigation-list-item {
    position: relative;
  }
  .navigation-list-item:not(:last-child) {
    margin-right: 50px;
  }
  .navigation-list-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: #212121;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
  }
  .navigation {
    display: flex;
    align-items: center;
  }
  .navigation-list-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: #212121;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
  }
  .navigation-list-link:focus {
    color: #2196f3;
  }
  .chosen-navigation-list-link {
    color: #2196f3;
  }
  .chosen-navigation-list-link::before {
    position: absolute;
    content: "";
    height: 4px;
    width: 100%;
    background: #2196f3;
    border-radius: 2px;
    top: 43px;
    left: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding: 24px 0px;
  }
  .address-mail > svg {
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: fill;
  }
  .address-tel > svg {
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: fill;
  }
  .chosen-navigation-list-link::before {
    top: 37px;
  }
  .address-mail {
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
  }
  .address-react:focus,
  .address-react:hover {
    color: #2196f3;
  }
  .address-react:focus .svg-react,
  .address-react:hover .svg-react {
    fill: #2196f3;
  }
  .navigation-list-link:hover {
    color: #2196f3;
  }
  .address-list {
    flex-direction: row;
  }
  .address-list-item:not(:last-child) {
    margin: 0px 30px 0px 0px;
  }
}

.address-footer-address {
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.715;
  letter-spacing: 0.03em;
  color: #ffffff;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}

.address-footer-mail,
.address-footer-tel {
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.715;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}

footer {
  background-color: #2f303a;
  padding: 60px 0px;
}

footer a {
  color: #ffffff;
}

.address-footer-links {
  margin-bottom: 60px;
}

.address-footer-list-item:not(:last-child) {
  margin-bottom: 8px;
}

.footer-social-text {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  text-align: center;
}

.social-footer-list {
  display: flex;
  justify-content: center;
}

.social-footer-item-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  justify-content: center;
  align-items: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}

.social-footer-item-link:focus {
  background-color: #2196f3;
}

.social-footer-list-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-links {
  padding-top: 12px;
  margin-bottom: 60px;
}

.footer-form-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  text-align: center;
}

.footer-input {
  width: 100%;
  max-width: 450px;
  height: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  padding-left: 15px;
  margin-bottom: 20px;
}

.footer-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.submit-footer-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  padding: 10px 28px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0px;
  border-radius: 4px;
  letter-spacing: 0.06em;
  color: #ffffff;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.submit-footer-button > svg {
  width: 24px;
  height: 24px;
  margin-left: 14px;
}

.social-footer-item-link > svg {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.email-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.address-footer-links {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.address-footer {
  text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .footer-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .address-footer-links {
    margin-right: 165px;
  }
  .footer-input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-list {
    display: flex;
  }
  .footer-form {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    padding-top: 12px;
  }
  .footer-form > div {
    display: flex;
  }
  .address-footer-links {
    margin: 0px 70px 0px 0px;
    align-items: flex-start;
  }
  .address-footer {
    text-align: start;
  }
  .email-input {
    flex-direction: row;
    align-items: center;
  }
  .footer-input {
    width: 358px;
    margin: 0px 12px 0px 0px;
  }
  .footer-form-text {
    align-self: flex-start;
  }
  .footer-social-links {
    margin: 0px;
  }
  .social-footer-item-link:hover {
    background-color: #2196f3;
  }
}

.filters-list-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  border-radius: 4px;
  border: 0px;
  padding: 6px 20px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color, box-shadow, color;
}

.filters-list-button:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.chosen-filters-list-button {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list-item {
  margin: 15px;
}

.portfolio-list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}

.portfolio-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.filters-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.filters-list-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: -15px;
}

.portfolio-img {
  position: relative;
  overflow: hidden;
}

.portfolio-picture {
  width: 100%;
}

.portfolio-img-text {
  position: absolute;
  font-style: normal;
  font-weight: 450;
  font-size: 18px;
  line-height: 1.556;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  top: 0;
  left: 0;
  padding: 77px 24px;
  transform: translateY(100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform;
}

.portfolio-list-item-link:focus .portfolio-img-text {
  transform: translateY(0%);
}

.portfolio-inf {
  padding: 20px 25px;
}

.portfolio-list-title {
  margin-bottom: 5px;
}

.portfolio-list-item-link {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border: 1px solid #eeeeee;
  width: 100%;
  max-width: 450px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: box-shadow;
}

.portfolio-list-item-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 768px) {
  .filters-list {
    justify-content: center;
  }
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .portfolio-list-item-link {
    width: 354px;
  }
  .portfolio-img-text {
    padding: 49px 24px;
  }
}

@media screen and (max-width: 1199px) {
  .portfolio-list-item:first-child .portfolio-inf {
    padding-bottom: 56px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-list-item-link {
    width: 370px;
  }
  .portfolio-img-text {
    padding: 63px 24px;
  }
  .portfolio-list-item-link:hover .portfolio-img-text {
    transform: translateY(0%);
  }
  .portfolio-list-item-link:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  .filters-list-button:hover {
    color: #ffffff;
    background-color: #2196f3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  .filters-list {
    margin-bottom: 50px;
  }
}

.logotype {
  font-family: var(--logotype-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logotype-footer {
  margin-bottom: 20px;
}

.web-logotype {
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .logotype {
    font-size: 26px;
    line-height: 1.192;
  }
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

:root {
  --logotype-font: "Raleway", sans-serif;
  --main-font: "Roboto", sans-serif;
}
/*# sourceMappingURL=portfolio.css.map */