.advantages-list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

.advantages-list-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
  max-width: 270px;
}

.advantages-section {
  padding: 95px 0px;
}

.advantages-list {
  display: flex;
  margin: -15px;
}

.advantages-list-item {
  margin: 15px;
}

.advantages-item-bg {
  display: flex;
  justify-content: center;
  padding: 25px 0px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

svg {
  .advantages-item-bg > & {
    width: 70px;
    height: 70px;
    align-self: center;
  }
}
