.address-footer-address {
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.715;
  letter-spacing: 0.03em;
  color: #ffffff;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}

.address-footer-mail,
.address-footer-tel {
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.715;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}

footer {
  background-color: #2f303a;
  padding: 60px 0px;
}

a {
  footer & {
    color: #ffffff;
  }
}

.address-footer {
  margin-top: 20px;
}

.address-footer-list-item {
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.footer-text {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.social-footer-list {
  display: flex;
}

.social-footer-item-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  justify-content: center;
  align-items: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;

  &:focus,
  &:hover {
    background-color: #2196f3;
  }
}

.social-footer-list-item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.footer-list {
  display: flex;
  align-items: flex-start;
}

.footer-links {
  padding-top: 12px;
  margin-left: 70px;
}

.footer-form {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  padding-top: 12px;

  & > div {
    display: flex;
  }
}

.footer-form-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-input {
  width: 358px;
  height: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgb(255, 255, 255);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  padding-left: 15px;
  margin-right: 12px;

  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
}

.submit-footer-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  padding: 10px 28px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0px;
  border-radius: 4px;
  letter-spacing: 0.06em;
  color: #ffffff;
  display: flex;
  align-items: center;
  cursor: pointer;
}

svg {
  .submit-footer-button > & {
    width: 24px;
    height: 24px;
    margin-left: 14px;
  }

  .social-footer-item-link > & {
    width: 20px;
    height: 20px;
    fill: #ffffff;
  }
}
