.navigation-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #212121;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;

  &:hover,
  &:focus {
    color: #2196f3;
  }
}

.navigation-list-item {
  position: relative;

  &:not(:last-child) {
    margin-right: 50px;
  }
}

.chosen-navigation-list-link {
  color: #2196f3;

  &::before {
    position: absolute;
    content: "";
    height: 4px;
    width: 100%;
    background: #2196f3;
    border-radius: 2px;
    top: 46px;
    left: 0px;
  }
}

.address-mail {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  font-style: normal;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #757575;
  align-items: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}

svg {
  .address-mail > & {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: #757575;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: fill;
  }

  .address-tel > & {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: #757575;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: fill;
  }
}

.address-tel {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  font-style: normal;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #757575;
  justify-content: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}

.address-react:focus,
.address-react:hover {
  color: #2196f3;

  & .svg-react {
    fill: #2196f3;
  }
}

header {
  padding: 25px 0px;
  border-bottom: 1px solid #ececec;
}

a {
  header & {
    color: #000000;
  }
}

.header-list {
  display: flex;
  padding-top: 25px;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
  margin-left: 90px;
}

.address-header {
  margin-left: auto;
}

.address-list {
  display: flex;
}

.address-list-item {
  &:not(:last-child) {
    margin-right: 50px;
  }
}
