.hero-section {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("mobile.png");
  padding: 120px 0px;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  max-width: 360px;
  margin-bottom: 30px;
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
  screen and (min-resolution: 192dpi) and (min-width: 320px),
  screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("mobile@2x.png");
  }
}

@media screen and (min-width: 768px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("tablet.png");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 480px),
  screen and (min-resolution: 192dpi) and (min-width: 480px),
  screen and (min-resolution: 2dppx) and (min-width: 480px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("tablet@2x.png");
  }
}

@media screen and (min-width: 1200px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("desktop.png");
    padding: 200px 0px;
  }

  .hero-title {
    font-size: 44px;
    line-height: 1.363;
    max-width: 700px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 480px),
  screen and (min-resolution: 192dpi) and (min-width: 480px),
  screen and (min-resolution: 2dppx) and (min-width: 480px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("desktop@2x.png");
  }
}

// .hero-section {
//   padding: 200px 0px;
//   background-image: linear-gradient(
//       rgba(47, 48, 58, 0.4),
//       rgba(47, 48, 58, 0.4)
//     ),
//     url("../images/hero/bg.jpg");
//   background-repeat: no-repeat;
//   background-size: cover;
// }
