.filters-list-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  border-radius: 4px;
  border: 0px;
  padding: 6px 20px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color, box-shadow, color;

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: #2196f3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.chosen-filters-list-button {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}

.portfolio-section {
  padding-top: 70px;
  padding-bottom: 95px;
}

.filters-list {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}

.filters-list-item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.portfolio-list {
  display: flex;
  margin: -15px;
  flex-wrap: wrap;
}

.portfolio-img {
  position: relative;
  overflow: hidden;

  & > img {
    width: 100%;
  }
}

.portfolio-img-text {
  position: absolute;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.556;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  top: 0;
  left: 0;
  padding: 63px 24px;
  transform: translateY(100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform;

  .portfolio-list-item-link:hover &,
  .portfolio-list-item-link:focus & {
    transform: translateY(0%);
  }
}

.portfolio-inf {
  padding: 20px 25px;
}

.portfolio-list-title {
  margin-bottom: 5px;
}

.portfolio-list-item-link {
  display: flex;
  flex-direction: column;
  margin: 15px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  width: 370px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: box-shadow;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
