.members-list-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}

.members-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 15px;
}

.members-list-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
}

.members-section {
  background-color: #f5f4fa;
  padding: 60px 0px;
}

.members-inf {
  padding: 30px 120px 24px;
}

.social-item-link {
  display: flex;
  width: 45px;
  height: 45px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  //   transition-duration: 250ms;
  //   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  //   transition-property: background-color;
}

svg {
  .social-item-link > & {
    width: 20px;
    height: 20px;
    fill: #afb1b8;
  }
}

.social-list {
  display: flex;
  justify-content: space-between;
}

.members-list-img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .members-list {
    display: flex;
    margin: -15px;
    flex-wrap: wrap;
  }

  .members-inf {
    padding: 30px 74px 24px;
  }

  .members-list-item {
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .members-inf {
    padding: 30px;
  }

  .members-section {
    padding: 95px 0px;
  }

  .social-item-link {
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color;

    &:hover,
    &:focus {
      background-color: #2196f3;
    }
  }

  .social-icon {
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: fill;

    .social-item-link:hover &,
    .social-item-link:focus & {
      fill: #ffffff;
    }
  }
}

// .social-list {
//   display: flex;
//   justify-content: space-between;
// }
